.group_members {
    //text-align: end;
    //margin: 20px 25px 5px 0px;

    #grid_groups_wrapper {
        max-width: 100%;
    }

    .default-avatar {
        background-color: #47d501;
        font-weight: 500;
        color: #fff;
        font-size: 1.6rem;
    }

    .default-avatar,
    .member-overlap-item {
        height: 45px;
        width: 45px;
    }

    .table {
        margin-bottom: 0rem !important;
        color: #4c4c4c;
    }

    .table td,
    .table th {
        padding: 0.75rem;
        vertical-align: middle;
        //border-bottom: 1px solid #dee2e6;
    }

    .member-overlap-item {
        margin-right: -10px;
        border: 2px solid #fff;
    }

    .group {
        min-height: 40px;
        height: auto;
        line-height: 1.6rem;
    }

    .grid-icon {
        vertical-align: middle;
        line-height: 1;
    }

    .group-class {
        height: 1rem;
        line-height: 4rem;
        vertical-align: middle;
    }
}