.o_dial_button {
    height: 1em;

    .o_dial_stack_icon {
        width: 20%;
        left: 13px;
        font-size: 10px;
    }
}

@include media-breakpoint-up(md) {
    .o_dial_button {
        visibility: hidden;
    }

    .o_kanban_record:hover .o_dial_button {
        visibility: visible;
    }
}
