/* #test-style {
    background-color: black;
    display: flex;
    height: 130%;
    width: 20%;
    margin: 1%;
}

h1 {
    color: white;
    display: flex;
    justify-self: center;
} */

/* #info {
    background-color: red;
    height: 50%;
    border: 5px;
    border-color: white;
    display: flex;
    margin: 5px;
    padding: 1px;
    color: rgb(122, 122, 122);
    justify-content: center;
    text-size-adjust: 58px;
    font-weight: bolder;
    font-size: xx-large;
} */