#controller_content {
    display: flex;
}

.meeting-info{
    background-color: rgb(53, 53, 53);
    margin: 1%;
    padding: 1%;
    width: 20%;
}
.meeting-name {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    padding: 5%;
}

.meeting-div-title {
    background-color: rgb(85, 85, 85);
    padding: 1%;
}

.meeting-span{
    color: white; 
    font-size: larger; 
    padding-left: 2%;
}

.meeting-div-info {
    padding: 1%;
}

#participants-div {
    padding: 1% 1% 1% 3%;
}

.participants-span {
    color: white; 
    font-size: larger;
}

#voting {
    width: 100%;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.container-week {
    height: 100%;
    padding: 1%;
    display: flex;
}
.cell-day {
    height: 50px;
    margin: 0% 1%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
}

.vl {
    height: 100%;
    border: solid lightgray;
    width: 0%;
}

.container-voting {
    height: 100%;
    padding: 1%;
    display: flex;
}

.container-the-voting {
    height: 100%;
    padding: 1%;
    display: flex;
}

.cell-name {
    /* border: solid black; */
    height: 50px;
    margin: 0% 1%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 2px 2px 5px gray;
}

.cell-voting-name {
    border: solid black;
    height: 50px;
    margin: 0% 1%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2d2ff;
    font-weight: bold;
    /* box-shadow: 2px 2px 5px lightgray; */
}

.cell-time {
    border: solid black;
    height: 50px;
    margin: 0% 1%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
    box-shadow: 5px 5px 10px #2d2c2c;
}

.voted-cell-time {
    border: solid black;
    height: 50px;
    margin: 0% 1%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 68, 68);
    color: white;
}


.cell-voting-time {
    border: solid black;
    height: 50px;
    margin: 0% 1%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
/*
    box-shadow: 5px 5px 10px #2d2c2c !important;
*/
    background-color: red;
}

.cell-voted-time {
    border: solid black;
    height: 50px;
    margin: 0% 1%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d2d2ff;
}

.cell-voted {
    height: 50px;
    margin: 0% 1%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6d6d9e;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.cell-voting {
    height: 50px;
    margin: 0% 1%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.cell-not-voting {
    height: 50px;
    margin: 0% 1%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    box-shadow: 5px 5px 10px #2d2c2c !important;
}

.btn:hover {
    background-color: rgba(109, 108, 108, 0.377);
}
