#jitsi_meeting_placeholder {
    display: flex;
    justify-self: center;
    display: grid;
}

#center_meeting {
    display: flex;
    justify-self: center;
}

.btn_holder {
    position: fixed;
    display: flex;
    justify-self: center;
}

.btn_holder>a {
    margin: 15px;
}
