#jitsi_meeting_placeholder {
    display: flex;
    justify-self: center;
    background-color: red;
    display: grid;
}

#center_meeting {
    outline: dashed 3px blue;  /*tacke away later*/
    display: flex;
    justify-self: center;
}