#jitsi_meeting_placeholder {
    display: flex;
    justify-self: center;
    display: grid;
}

#center_meeting {
    display: flex;
    justify-self: center;
}

.btn_holder {
    pointer-events: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.btn_holder>a {
    pointer-events: all;
    margin: 15px;
}

.btn_on {
    background-color: white;
    height: 50px;
    width: 50px;
}

.btn_off {
    background-color: gray;
    height: 50px;
    width: 50px;
}
/* *
 * TODO:
 * - Add class for on state on a  jitsi button
 * - Add class for off state on a jitsi button
 * - Fix icon classes
 * - Change meeting_settings.js rendering functions to use these new classes
 * */

